<div>
  <form (ngSubmit)="onSubmitItem()">
    <label for="selectItemType">Item type: </label>
    <select [(ngModel)]="removalItem.type" name="type"
            id="selectItemType">
      <option value=''>Select item type</option>
      <option *ngFor="let itemType of removalItemTypes" value="{{itemType}}">{{itemType}}</option>
    </select>
    <br>
    <label for="quantityInput">Quantity: </label>
    <input type="number" min="0.0" value="0.0" step="0.1" id="quantityInput"
    required [(ngModel)]="removalItem.quantity" name="quantity">
    <label> ft<sup>2</sup></label>
    <br>
    <input type="submit" value="Add item">
  </form>
</div>
<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
