.estimator-lists {
  list-style-type: none;
}

.selected {
  background: blueviolet;
}

.unselected {
  background: mediumseagreen;
}

.container {
  overflow: auto;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#menu {

}

#items-list {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
}

#rooms-list {

}

#room-button {
  border: 1px groove black;
  border-radius: 20px;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
}

#removal-item {
  border: 1px groove black;
  background-color: red;
  width: 40px;
  padding: 5px;
  font-size: 8pt;
}
