<div class="title">
  <h1>Estimator</h1>
</div>

<div>
  <label for="selectRoomType">Select room type: </label>
  <select #selectElement
          (change)="onRoomSelect(selectElement.value)"
          id="selectRoomType">
    <option value="">{{selectRoomPlaceholder}}</option>
    <option *ngFor="let roomType of roomTypes" value="roomType">{{roomType}}</option>
  </select>
  <br>
</div>

<div *ngIf="selectedRoomType">
  <label for="roomNameInput">Room name: </label>
  <input type="text" value="{{selectedRoomType}}" id="roomNameInput">
  <br>
  <br>

  <div>
    <form>
      <label for="selectItemType">Item type: </label>
      <select id="selectItemType">
        <option *ngFor="let itemType of removalItemTypes" value="{{itemType}}">{{itemType}}</option>
      </select>
      <br>
      <label for="quantityInput">Quantity: </label>
      <input type="number" value="0" id="quantityInput">
      <label> ft^2</label>
    </form>
  </div>
</div>
