@import '../../node_modules/@angular/material/prebuilt-themes/purple-green.css';

body {
  background-image: url("../assets/city-background.jpeg");
  background-size: cover;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
}

.links {
  background-color: darkgray;
  color: blue;
  padding: 15px;
}

.title {
  text-align: center;
}

.container {
  overflow: hidden;
}

.error-message {
  border: 1px solid black;
  background-color: palevioletred;
  opacity: .3;
  padding: 20px;
}

.app-content {
  min-height: 90%;
}
