@import '../../node_modules/@angular/material/prebuilt-themes/purple-green.css';

.links {
  border: 1px solid black;
  background-color: lightyellow;
}

.title {

}

.container {
  overflow: hidden;
}

.error-message {
  border: 1px solid black;
  background-color: palevioletred;
  opacity: .3;
  padding: 20px;
}
